{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'recognizer/styles/style.css' %}">

    <meta charset="utf-8">

    <title>Face ID</title>
    </head>

    <body>
        <header>
            <h1>Face ID</h1>
        </header>
        <div class="container">
                {% block content %}{% endblock content %}
        </div>
    </body>
</html>

